/* 项目基本色调 */
$steam-color-1: #4678FA;
$steam-color-2: #E1F0FF;
$steam-color-3: #FBC61E;
$steam-color-4: #FF675A;
$steam-color-5: #FFE6E6;
$steam-color-6: #40C78E;

$steam-background-color: #EEEEEE;
$steam-font-color: #353535;
$steam-shutdown-color: #7085A6;